<div class="container py-5">  
<h1 class="text-center text-uppercase"> Ingresar nueva tarea</h1> 
<form class="col-lg-10">
    <div class="form-group">
      <label for="taskDescription">Descripcion tarea</label>
      <input type="text" [(ngModel)]="toDoDescription" [ngModelOptions]="{standalone: true}" class="form-control" id="_taskDescr" aria-describedby="Descripcion" placeholder="Ingrese la descripcion de la tarea" required>     
    </div>
    <div class="custom-file">
      <input type="file" (change)="onFileSelected($event)" id="customFile" aria-placeholder="Seleccionar Archivo">    
    </div>
    <br/>
    <br/>
    <br/>    
    <button type="button" (click)="onUpload()" class="btn btn-primary"> Agregar tarea </button>

  </form>
  </div>