<div class="container py-5">  
  <h3 class="text-center text-uppercase">Lista de tareas:</h3>  
  <table class="table table-bordered table-striped">  
      <thead>  
          <tr class="text-center text-uppercase">  
              <th>ID</th>  
              <th>Descripcion</th>  
              <th>Estado</th>  
              <th>Documento</th>  
            </tr>  
      </thead>  
      <tbody>  
        <tr *ngFor="let t of tasks">  
          <td>{{t.id}}</td>  
          <td>{{t.descripcion}}</td>  
          <td> 
            <div *ngIf="t.estado === 0">Pendiente</div>                  
            <div *ngIf="t.estado === 1">Resuelta</div>
          <td>
            <div *ngIf="t.documentID" class="text-center">
              <button type="button"(click)="downloadDocument(t.documentID)" class="btn btn-default">Descargar</button>
            </div>
          </td>        
        </tr>  
      </tbody>  
    </table>  
  </div>  
