
<div class="container py-5">  
  <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="jumbotron">
    <div class="row">
    <div class="col-md-2 mb-2">
        <label for="IDTask">ID:</label>
        <input type="number" class="form-control" id="IDTask" name="taskId" ngModel>
    </div>
    <div class="col-md-6 mb-2">
        <label for="DescriptionTask">Descripcion:</label>
        <input type="text" class="form-control" id="DescriptionTask" name="descriptionField" ngModel>        
    </div>
    <div class="col-md-2 mb-2">
        <label for="checkListState">Estado:</label>
            <div class="form-check" id="checkListState">
                <input class="form-check-input" type="checkbox" value="" id="radiooff" name="pendienteOk" ngModel>
                <label class="form-check-label" for="radiooff">
                  Pendiente
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="radioon" name="resueltoOk"ngModel>
                <label class="form-check-label" for="radioon">
                  Resuelto
                </label>
           </div>   
    </div>
    <div class="col-md-2 mb-2">
        <label for="HasDocument">Documento:</label>
        <input type="checkbox" class="form-control" id="HasDocument" name="docuCheck" ngModel>
    </div>
  </div>
  <button type="submit" class="btn btn-primary"> Filtrar </button>
</form>

<h5 class="text-left">Resultado:</h5>  
    <table class="table table-bordered table-striped">  
        <thead>  
            <tr class="text-center text-uppercase">  
                <th>ID</th>  
                <th>Descripcion</th>  
                <th>Estado</th>  
                <th>Documento</th>  
              </tr>  
        </thead>  
        <tbody>  
          <tr *ngFor="let t of tasks">  
            <td>{{t.id}}</td>  
            <td>{{t.descripcion}}</td>  
            <td> 
              <div *ngIf="t.estado === 0">Pendiente 
                <br/><button type="button" (click)="resolveTask(t.id)" class="button">Resolver</button>
              </div>                  
              <div *ngIf="t.estado === 1">Resuelta</div>
            <td>
              <div *ngIf="t.documentID" class="text-center">
                <div> Documento cargado </div>
              </div>
            </td>        
          </tr>  
        </tbody>  
      </table>  
    </div>  
  