<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <a class="navbar-brand" href="#">ToDo ABML</a>

    <div class="navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" routerLink="/add" routerLinkActive="active">Agregar Tarea</a>    
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/admin" routerLinkActive="active">Administrar</a>    
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/list" routerLinkActive="active">Listado</a>    
          </li>
      </ul>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
